:root{ 
    --titulos: 'Playfair Display', serif;
    --textos:'Lora', serif; 
    --productos:'Work Sans', sans-serif; 
} 

::-webkit-scrollbar {
    display: none;
}

/*Propiedades generales del desarrollo*/
*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none; 
}


/*Especificacion de propiedad y valor del cuerpo de la pagina*/
body{
    background:#333333 ;
}

/*Especificacion que no tenga ningun item*/
li{
    list-style: none;
}

.nav-men a,  li{
    font-family: "Playfair";
    color: #333333;
    text-transform: uppercase;
    font-size: 15px; 
    margin-bottom: 5px;
    align-items: center;
}

.lista{
    font-family: "Playfair";
}


/*Inicializacion desarrollo de estilos para el header*/

/*Especificacion de estilos en general del header */
.header{
    display:flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #fff;
    align-items: center;
    width: 100%;
}

/*Especificacion de estilos en lista desordenada*/
.nav-men ul{
    display:flex;
    align-items: center;
    padding: 20px;
}

/*Se especifica la propiedad de tamaño de margen para que se divida la posicion de elemento de texto*/
.nav-men li{
    margin-right: 30px;
}

.nav-men a:hover{
    color: #529F0F ;
}

.menu{
    position:fixed;
    top:0;
    
}

/*Especificacion de estilo del logo de la marca*/
.logo_header{
    display:flex;
    position:absolute;
    align-items: center;
    flex-basis: 15%;
    left:650px;
}

/*propiedades y valores del  icono de hamburguesa*/
.icon_menu img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    top:20px;
}

/*Especificacion de estilo de la caja de texto checkbox*/
.icon_menu, #check_menu{
    display:none;
}

/*Media query responsive escritorio*/

/*Esṕecificacion de tamaño de media query*/
@media (max-width:768px){
    .checkbtn{
        display:block;
    }
/*Especificacion de cuando se despliega de forma pequeña salga el icono de hamburguesa*/
    .icon_menu  {
        display: block;
        position: fixed;
        top:5px;
        right: 10px;
        cursor:pointer;
        justify-content: center;
    }

    .logo_header{
        display: block;
        margin-bottom:20px;
        justify-content: center;
        top:-5px;
        left:20px
    }
    

    /*clic en el icono para que pueda esplazar lo de navegacion*/
    .nav-men ul  {
        display:block;
        position:fixed;
        top:70px;
        left:-100%;
        background:#fff;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .nav-men ul li{
        padding: 10px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    /* funciona el icon y Afectara a los elementos del menu*/
    #check_menu:checked ~ ul{
        left:0;
        transition: all .25s;
    }
}

/*Se coloco */
.img-principal{
    background-image:url(../img/slider-2.jpg); 
    width: 95%; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    margin:0 auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-principal p{
    font-family: var(--titulos);
    font-size: 50px;
    text-align: center;
}

.img-principal a{
    text-decoration: underline;
    font-family: var(--productos);
    font-size: 20px;
    color: black;
}


.seccion2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.product1{
    background-image:url(../img/banner-1.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    height: 200px; 
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.product2{
    background-image:url(../img/banner-2.png); 
    height: 200px; 
    width: 450px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.des1{
    margin-top: 60px;
    margin-left: 20px;
    font-family: var(--textos);
    font-size: 24px;
    color:#529F0F;
}

.des2{
    margin-left: 20px;
    font-family: var(--productos);
    font-size: 12px;
    
}




/*Inicializacion desarrollo de estilos para el Body*/

.container{
    display: flex;
    flex-direction: column;
    top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
}


.seccion3{
    text-align: center;
    
}

.seccion3 h2{
    font-family:var(--titulos) ;
    font-size: 25px;
    margin-top:60px;
    font-weight: 300;
}

.seccion3 p {
    text-align: center;
    font-family: var(--textos);
    font-size: 16px;
    margin-top: 20px;
}

.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    margin-top: 40px;
}

.fondo-pro1{
    background-image: url(../img/product-1.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.con-img h3{
    margin-top: 20px;
    font-family: var(--productos);
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 5px;
}

.con-img p{
    font-family: var(--productos);
    font-weight: 200;
    font-size: 15px;
}

.productos{
    display: flex;
    flex-direction: column;
    top: 20px;
    height: 850px;
    margin-left: 40px;
    margin-right: 40px;
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    
}



.fondo-pro2{
    background-image: url(../img/product-2.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro3{
    background-image: url(../img/product-3.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro4{
    background-image: url(../img/product-4.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro1{
    background-image: url(../img/product-1.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.pro{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.fondo-pro5{
    background-image: url(../img/product-1.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro6{
    background-image: url(../img/product-3.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro7{
    background-image: url(../img/product-5.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro8{
    background-image: url(../img/product-7.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro9{
    background-image: url(../img/product-2.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro10{
    background-image: url(../img/product-4.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro11{
    background-image: url(../img/product-6.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.fondo-pro12{
    background-image: url(../img/product-8.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    width: 200px;
    height: 200px; 
    margin-right: 20px;
}

.caja-texto{
    display: flex;
    flex-direction: column;
    top: 20px;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
    background-image: url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center; 
}

.caja h2{
    font-family:var(--titulos) ;
    font-size: 32px;
    margin-bottom:40px;
    font-weight: 300;
}









.titulo2{
    display: flex;
    position:absolute;
    font-family: 'Playfair Dispaly';
    color:  #333333 ;
    font-size: 16px;
    top:175%;
    left:33%;
    align-items: center;
}

.titulo3{
    display: flex;
    position:absolute;
    font-family: 'Playfair Dispaly';
    color:  #333333 ;
    font-size: 16px;
    top:175%;
    left:51%;
    align-items: center;
}

.titulo4{
    display: flex;
    position:absolute;
    font-family: 'Playfair Dispaly';
    color:  #333333 ;
    font-size: 16px;
    top:175%;
    left:68%;
    align-items: center;
}


/*seccion  #4 de la imagen central*/
.planta img{ 
    display:flex;
    position: relative;
    align-items: center;
    top: 60px;
    left: 320px;
    margin-left: 350px;
    margin-right: 350px;
    flex-basis: 15%;
}
/*texto en contenido seccion #4*/
.letra-texto{
    align-items: center;
    font-family: 'lora';
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px 20px ;
    margin-top: 50px;
    font-size: 20px;
}

/*parrafo en ele contenido de la seccion #4*/
.parrafo{
    align-items: center;
    font-family: 'lora';
    margin-left: 350px;
    margin-right: 350px;
    padding: 5px ;
    margin-top: 22px;
    font-size: 16px;
}

/*sub parrafo en ele contenido de la seccion #4*/
.sub-parrafo{
    align-items: center;
    font-family: 'lora';
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom:60px ;
}












/*Inicializacion desarrollo de estilos para el footer*/

/*clase general que debe contener el desarrollo*/
footer{
    background-color:#f0f0f0e5;
    color:#333333;
}
/*clase de lista no ordenada*/
footer ul{
    padding:0;
    margin-top:30px ;
}

/*lista ordenada ninguna*/

footer li{
    list-style: none;
    font-family: 'Work Sans';
    margin-top:20px ;
    text-transform: none;
}

/*clase general de posicion de footer contenido de elementos */
.w-footer {
    display: flex;
    justify-content: space-evenly;
    padding:60px 60px;
    margin-top: 20px auto;
    margin-bottom: 20px;
    max-width:1200px;
}

/*credenciales del footer*/

.footer-creds{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    background-color:#e4e4e4f1;
    color:#333333;
    max-width: 1200px;
}

/* icono que contiene las credenciales del footer*/
.corazon{
    max-width: 15px;
    align-items: center;
}

